{% extends 'base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}

{% block content %}
<body>
    <main>
        <div>
            <h1>Reminders</h1>
            <a href ="{% url 'todo_list_update' todo_object.id %}">Edit</a>
            <div>
                <p>
                    <a href ="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_object.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
{% endblock content %}
