{% extends 'base.html' %}

{% block title %}
    My List
{% endblock title %}

{% block content %}
<header>
    <nav>
    </nav>
</header>
    <main>
        <div>
            <h1>My Lists</h1>
            <a href ="{% url 'todo_list_create' %}">Create a new list</a>
            <div>
                <a href ="{% url 'todo_item_create' %}">Create a new item</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for todo_object in todo_list_list %}
                        <tr>
                            <td>
                                <a href ="{% url 'show_todo_list_detail' todo_object.id %}">{{ todo_object.name }}</a>
                            </td>
                            {% if todo_object.items.all %}
                                <td>
                                    {{ todo_object.items.all|length }}
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
